name: Build Docker GHCR
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    
    - name: Converti in minuscolo  # â† AGGIUNGI QUESTO
      run: |
        echo "OWNER_LC=invernomut0" >> $GITHUB_ENV
        echo "REPO_LC=${{ github.event.repository.name }}" | tr '[:upper:]' '[:lower:]' >> $GITHUB_ENV
    
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - uses: docker/build-push-action@v6
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: ${{ github.event_name != 'pull_request' }}
        tags: |
          ghcr.io/${{ env.OWNER_LC }}/${{ env.REPO_LC }}:latest
          ghcr.io/${{ env.OWNER_LC }}/${{ env.REPO_LC }}:${{ github.ref_name }}
